html {
  font-family: sans-serif;
  font-size: 16px;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  color: $text-color;
}

main {
  padding: 3rem 0;
}