.button {
  padding: 0.75rem 1.25rem;
  background: $secondary-color;
  font-size: 1rem;
  color: #FFF;

  border: 0;
  border-bottom: 2px solid $secondary-color-alt;
  cursor: pointer;

  @media only screen and (max-width: #{$breakpoint-small}) {
    display: block;
    width: 100%;
  }

}