.formGroup {
  margin-bottom: 1rem;

  &--extraMargin {
    margin-bottom: 2.5rem;
  }

  &__label {
    display: block;
    margin-bottom: .5rem;
  }

  &__input {
    background: #f9f9f9;
    padding: 0.5rem 0.5rem;
    font-size: 16px;
  }

  &__showMe {
    display: flex;
    flex-wrap: wrap;
  }

  &__showMeLink {
    padding-left: 1rem;
    padding-bottom: .5rem;
  }
}