.header {
  border-top: 4px solid #f47738;

  &__topBar {
    height: 10px;
    background: $primary-color;
  }

  &__logo {
    position: relative;
    margin: 1rem 0;
    padding-left: .5rem;

    font-weight: 700;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 3px;
      height: 100%;
      background: #009390;
    }
  }

}